<header>
    <nav>
        <ul>
            <li><a href="index"><img src="images/logo.png" alt="jeroen logo"></a></li>
            <li><a href="/informatie">Informatie</a></li>
            <li><a href="/interest">Nieuwe interesse</a></li>
            <li><a href="/">Informatie</a></li>
        </ul>
    </nav>
</header>