<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">