<%- include ('../partials/head.ejs') %>

<body>
    <%- include ('../partials/header.ejs') %>
    <h1>Interest <% title %> </h1>

    <form id="keuzes-form" method="POST" action="/">
        <label for="interesse">Interesse</label>
        <input type="text" id="title" name="title" required>

        <label for="waarom">Waarom leuk?</label>
        <input type="text" id="snippet" name="snippet" required>

        <label for="vermaken">beschrijving</label>
        <input type="text" id="body" name="body" required>

    
        <input type="submit" value="submit"/>
    </form>
</body>
