<%- include ('../partials/head.ejs') %>

<body>
    <%- include ('../partials/header.ejs') %>
    <h1>Voeg je interesse toe</h1>
    
<main>
    <!-- Form with post method including 3 questions -->
    <form id="keuzes-form" method="POST" action="/">
        <label for="interesse">Interesse</label>
        <input type="text" id="vraagEen" name="vraagEen" required>

        <label for="waarom">Waarom leuk?</label>
        <input type="text" id="vraagTwee" name="vraagTwee" required>

        <label for="vermaken">beschrijving</label>
        <input type="text" id="vraagDrie" name="vraagDrie" required>

        <input type="submit" value="submit"/>
    </form>
</main>
</body>
