<%- include ('../partials/head.ejs') %>

<body>
    <%- include ('../partials/header.ejs') %>
    <h1>Interest <% title %> </h1>

    <form id="keuzes-form" method="POST" action="/keuzes">
        <label for="interesse">Interesse</label>
        <input type="text" id="interesse" required;

        <label for="waarom">Waarom leuk?</label>
        <input type="text" id="waarom" required;

        <label for="email">beschrijving</label>
        <input type="email" id="email" required;
    
        <input type="submit" value="submit"/>
    </form>
</body>
